.active {
  color: red;
  font-weight: 600;
}

.wrapper {
  display: flex;
  flex-shrink: 0;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.add {
  display: flex;
  gap: 20px;
}

.backLink {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

.backLink:hover {
  color: red;
}
