.form {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.input {
  width: 300px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 12px;
}

.button {
  padding: 8px 12px;
  width: 100px;
  height: 40px;
  background-color: rgb(42, 42, 168);
  border-radius: 4px;
  color: white;
}

.button:hover {
  background-color: rgb(11, 11, 109);
}
